.App {
  text-align: center;
}

  /*justify-content: center;
   */
.App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text{
 margin-top: 3%;
}

.App-link {
  color: #61dafb;
}

